// Background image adaptation
bg-image($url)
    background-image: url($url + "@2x.png")
    @media (-webkit-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) 
        background-image: url($url + "@3x.png")

// Nowrap
no-wrap()
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap

// Extend  tap area
extend-click()
    position: relative
    &:before
        content: ''
        position: absolute
        top: -10px
        left: -10px
        right: -10px
        bottom: -10px