// Color definition specification
$color-background = #00bcd4
$color-text-normal = #333333

// Font definition specification
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px